body{
  background: #242626;
}
* {
  font-family: 'Montserrat', sans-serif;
}
h1, h3{
  color: white;
  text-align: center;
}
h1 {
  font-size: 5.0em;
}
h5 {
  color: white;
  text-align: left;
  margin: -20px 0;
}
.option {
  font-size: 1.5em;
}
.option:hover {
  background: #4c4c4c;
  color: white;
}
.answer_section {
  height: 300px;
  margin: 0 auto;
}
.option {
  display: inline-block;
  background: white;
  height: 22%;
  width: 40%;
  margin: 2.5% 4.5%;
  border-radius: 5px;
  text-align: center;
  /*box-sizing: border-box;*/
  line-height: 60px;
}
.clearSection {
  clear:both;
  height: 50px;
}
.profileImg {
  border-radius: 50%;
  box-sizing: border-box;
}
.playerStats1, .playerStats2 {
  padding: 0 20px;
}
.playerStats1 {
  float: left;
}
.playerStats2 {
  float: right;
}
.player1{
  color: #FF6E1F;
}
.player2 {
  color: #5B60FF;
}
#player1 img {
  float: left;
  border: 6px solid #FF6E1F;
}
#player2 img {
  float: right;
  border: 6px solid #5B60FF;
}
